.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainHeader {
  height: 68px;
  width: 850px;
  display: flex;
  align-self: center;
}

.logoContainer {
  height: inherit;
  background-image: url(https://s3-us-west-1.amazonaws.com/companycom-assets/company-logo/company-logo.png);
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: left center;
  flex-grow: 1;
  align-self: center;
}

.headerMenuContainer {
  flex-grow: 1;
  text-align: right;
  align-self: center;
}

.subHeader {
  height: 65px;
  display: flex;
  color: rgb(255, 255, 255);
  background: url(https://s3-us-west-1.amazonaws.com/companycom-assets/squares.png) 50% center no-repeat rgb(46, 165, 243);
}

.subHeaderLabel{
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.8px;
  text-align: left;
  color: rgb(255, 255, 255);
  width: 850px;
  align-self: center;
  margin: 0px auto;
}

.tabs {
  width: 850px;
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 48px;
  padding: 40px 0 20px;
}

.tabContent {
  text-align: left;
  padding: 16px 0px;
}

button[role="tab"] {
  flex-grow: 1;
  max-width: none;
  flex-shrink: 1;
}

.profile {
  border-bottom: 1px solid rgba(76,99,114,.2);
  padding: 20px 0px 30px;
  display: flex;
  position: relative;
}

.edit-profile {
  border-bottom: 1px solid rgba(76,99,114,.2);
  padding: 20px 0px 2px;
}

.edit {
  font-weight: 400;
  text-align: right;
  align-self: center;
  flex-grow: 1;
}

.edit a {
  cursor: pointer;
}

.footer {
  width: 850px;
  color: #000;
  max-width: 1200px;
  align-self: center;
  bottom: 0px;
  position: absolute;
  padding-top: 47px;
  padding-bottom: 30px;
  display: flex;
  font-weight: 400;
  align-items: center;
  font-size: 17px;
  border-top: 1px solid rgba(76,99,114,.2);
}

.footerLogo {
  align-self: center;
  flex-grow: 1;
}

.copyRights {
  align-self: center;
  flex-grow: 1;
  margin-left: 120px;
}

.co-name {
  color: #4c6372;
}

.terms-use {
  margin-left: 20px;
  color: #4379bd;
  font-size: 17px;
}

.terms-use a{
  text-decoration: none;
}

.profile-form {
  padding: 20px 0 30px;
  display: flex;
}

.profile-form h1 {
  align-self: center;
}

.profile-form-arrow {
  display: flex;
  align-self: center;
}

.editContent {
  float: right;
  width: 100%!important;
  padding-left: 90px;
}

form > div {
  width: 100% !important;
}
